.cont{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.card-img-top{
    height: 250px;
}
.card{
    margin: 1rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9200;
    color: white;
    border-radius: 0 0 5px 5px;
}

.title span {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.title .forms {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.title_c{
    margin: auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}

.desc {
    background-color: #ff9200;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.desc .t{
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 2px;
    font-weight: 500;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
  }
  
.overform_card {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    padding: 20px;
    background-color: white;
    z-index: 10000;
    overflow: auto;
  }

.xmark {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
}

.xmark:hover{
    color: red;
}