.icon-text {
    margin-left: -15px;
    font-weight: 500;
}
.nav-link{
    color: white;
}

.nav-item .active,
.nav-link:hover,
.nav-link:focus{
    color: #ff9200 !important;
}

.landing {
    background-color: #ff9200;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .btn {
    width: 100px;
    background-color: #004e8B;
    margin-top: 10px;
    border-radius: 10%;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}
.landing .btn:hover {
    color: black;
}

#typing-text {
    font-size: 1.2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
  }
  
.overform {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    padding: 20px;
    background-color: white;
    z-index: 10000;
  }

.xmark {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
}

.xmark:hover{
    color: red;
}

.goal {
    width: 100%;
    height: 50vh;
}
.goal p {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.goal p span {
    font-size: 1.5rem;
    color: #007dfe;
    padding: 10px;
    background-color: #1a2e35;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}